<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - <tripfox></title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
  <header>
    <h1><Login></h1>
  </header>

  <main>
    <section class="login-form">
      <h2>Login</h2>
      <form action="/login" method="post">

        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
      
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">  
      
        <button type="submit">Login</button>
      </form>

      <p>Don't have an account? <a href="/register">Register here</a></p>
    </section>
  </main>
</body>
</html>
