<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - <tripfox></title>
  <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
  <header>
    <h1><Register-yourself-with-us></h1>
  </header>

  <main>
    <section class="register-form">
      <h2>Register</h2>
      <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

       

        <label for="contactNumber">Contact Number:</label>
        <input type="String" id="contactNumber" name="contactNumber" pattern="[0-9]{10}" required>

        <button type="submit" class="register-button">Register</button>
      </form>

      <p>Already have an account? <a href="/login">Login here</a></p>
    </section>
  </main>
</body>
</html>
